@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

:root {
  --background-color-primary: #0f0d11;
  --background-color-secondary: #fafafa;
  --background-color-darker: #111225;
  --text-primary-color: #fff;
  --element-size: 6rem;
  --text-secondary-color: #d1d5db;
  --primary-color: #6b21a8;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #ffffff;
  --background-color-secondary: #fafafa;
  --background-color-darker: #111225;
  --text-primary-color: #fff;
  --element-size: 6rem;
  --text-secondary-color: #d1d5db;
  --primary-color: #6b21a8;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color-darker);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6em;
  gap: 5rem;
}

.main-heading {
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
}

.lunch {
  padding: 20px;
  width: 40%;
  height: 80%;
  background-color: var(--background-color-primary);
  border: 1px solid purple;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.lunch__img {
  flex: 70%;
  width: 400px;
  height: 450px;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .lunch {
    width: 350px;
  }
}

.lunch__button {
  height: 38px;
  width: 65%;
  border-radius: 6px;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
  transition: .2s ease;
  border: none;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.lunch__button:hover {
  background-color: #7e22ce;
  cursor: pointer;
}

.lunch__button:active {
  transform: translateY(-2px);
}

.footer {
  clear: both;
  position: absolute;
  background-color: var(--background-color-darker);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  bottom: 0;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  color: var(--text-secondary-color);
}
.footer__nav--link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.footer__nav--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  color: var(--text-secondary-color);
}

.footer__nav--icon:hover {
  transform: translateY(-2px);
  color: #6b21a8;
}

.footer__rights {

}

.footer__rights--text {
  text-align: center;
  font-weight: 500;
  color: var(--text-secondary-color);
}

.footer_nav--li:hover {
  color: #a855f7;
}



